{% extends "base.html" %}

{% block content %}
{% load tag_extras %}

<div>
    <img src="{{ profile.avatar.url }}" alt="Image" height="200" width="200">
    {{ profile.username }}
</div>
<div>{{ profile.bio }}</div>
<div>{{ profile.user.posts.count }} posts</div>
<br>

{% if profile == request.user.profile %}
<form method="get" action="{% url 'accounts:edit_profile' %}">
    <button type="submit">Edit profile</button>
</form>
{% endif %}
<br>

<div>
    <form method="get" action="{% url 'publication:add_post' %}">
        <button type="submit">Create new post</button>
    </form>
</div>
<br>

{% for post in posts %}
<div>
    <img src="{{ post.user.profile.avatar.url }}" alt="Image" height="30" width="30">
    <a href="{% url 'accounts:profile' post.user %}">{{ post.user }}</a>
</div>
<div>
    {% if post.image %}
    <div><img src="{{ post.image.url }}" alt="Image" height="400" width="400"></div>
    {% endif %}
    <a href="{% url 'publication:post_detail' post.id %}">{{ post.title }}</a>
    <div>{{ post.text|hashtag_links }}</div>
    <br>
</div>
{% endfor %}
{% endblock %}