<!DOCTYPE html>
{% load static %}
{% load menu_tags %}
{% load cache %}
<link rel="stylesheet" type="text/css" href="{% static 'publication_app/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

{% cache 60 * 2 menu %}
<div id="menu">
    {% menu %}
</div>
{% endcache %}

<article>
    <header>
        <form method="get">
            <a href="{% url 'accounts:profile' user %}">My profile</a>
        </form>
    </header>
</article>

<br>

{% block content %}{% endblock %}

</body>
</html>