{% extends "publication_app/base.html" %}

{% block content %}
<div>
    <form method="get" action="{% url 'publication:add_post' %}">
        <button type="submit">Create new post</button>
    </form>
</div>

<div>

    <div>
        {{ profile.username }}
        <img src="{{ profile.avatar.url }}" alt="">

        <form method="get" action="{% url 'profile:update_profile' %}">
            <button type="submit">Edit profile</button>
        </form>

    </div>

    <br>

    {% for post in posts %}
    <a href="{% url 'publication:post_detail' post.id %}">{{ post.title }}</a>
    {% if post.image %}
    <div><img src="{{ post.image.url }}" alt=""></div>
    {% endif %}
    <a href="{% url 'profile:profile' post.user %}">{{ post.user }}</a>
    <div>{{ post.text }}</div>
    {% endfor %}

</div>
{% endblock %}